<header>
    <div class="nav">
        <ul>
            <li><a href="/index">Index</a></li>
            <li><a href="/fileUpload">File Upload</a></li>
            <li><a href="/api/pdfs">Resource Files</a></li>
            <li><a href="/api/pdfs/resourcesUpload">Upload Resource Files</a></li>
            <!-- <li><a href="/api/pdfs">PDFs </a></li> -->
        </ul>
    </div>
            <!-- if user is not logged in display login in link
            else if( user is logged in ) display logout -->

    <br>
    
</header>